<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>47256033009-f3ieqfr6h7kc6l5mu3rrcoda0e38n377.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47256033009-f3ieqfr6h7kc6l5mu3rrcoda0e38n377</string>
	<key>API_KEY</key>
	<string>AIzaSyCyphli9XaEfD-AmNi1eX9WX8GkoyNf8Ng</string>
	<key>GCM_SENDER_ID</key>
	<string>47256033009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movies</string>
	<key>PROJECT_ID</key>
	<string>movies-4df11</string>
	<key>STORAGE_BUCKET</key>
	<string>movies-4df11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47256033009:ios:6913e617a1efa44f4c3b50</string>
	<key>DATABASE_URL</key>
	<string>https://movies-4df11-default-rtdb.firebaseio.com</string>
</dict>
</plist>